body {
    background-color: lightblue;
    color: maroon;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}
main {
    background-color: lightyellow;
    color: maroon;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 20px 18.4px;
}
footer {
    background-color: rgb(28, 71, 98);
    color: lightcoral;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}
header {
    background-color: rgb(28, 71, 98);
    color: lightcoral;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}
a {
    color: rgb(113, 191, 113);
    text-decoration: none;
    transition: 1s 2s;
}
a:link {
    color: darkblue;
    text-decoration: underline;
}
a:visited {
    color: coral;
    text-decoration: underline;
}
a:hover {
    color: rgb(239, 123, 123);
    text-decoration: underline;
    background-color: rgb(64, 64, 193);
    text-shadow: 5px;
    transition: 0.3s;
}
a:active {
    color: black;
    opacity: 0.3;
}
div.menu {
    border: 5px solid #00880060;
    border-radius: 5px;
    width: 300px;
    margin: 0 auto;
}
div.menu:hover {
    background-color: lightgray;
    box-shadow: 0 0 30px #00000030;
}